$primary: var(--primary)
$secondary: var(--secondary)
$tertiary: var(--tertiary)
$scheme-main: var(--scheme-main)
$scheme-main-bis: var(--scheme-main-bis)
$scheme-main-ter: var(--scheme-main-ter)
$scheme-main-invert: var(--scheme-main-invert)
$scheme-main-invert-bis: var(--scheme-main-invert-bis)
$scheme-main-invert-ter: var(--scheme-main-invert-ter)
$background: var(--background)
$text: var(--text)
$text-light: var(--text-light)
$text-strong: var(--text-strong)
$text-invert: var(--text-invert)
$border: var(--border)
$border-hover: var(--border-hover)
$border-light: var(--border-light)
$border-light-hover: var(--border-light-hover)
