@import './generated-fallback.css'; // import fallbacks first, so they are overridden
@import './generated-bulma-vars.sass';

// Links
$link: $primary;
$link-focus-border: $primary;

// Code
$code: $primary;

// Fix conflicts between Prism.js and Bulma
// https://github.com/jgthms/bulma/issues/1708#issuecomment-834447892
.token.number, .token.tag { all: inherit; }

// Navbar
$navbar-padding-vertical: 0.3rem;

@import '../../node_modules/bulma-css-vars/bulma-cv-lib';
@import "~buefy/src/scss/buefy";
