// Container layout
$gap: 48px;

// Set your colors

$primary: rgb(233, 59, 56);
$discord: #7289DA;
$spigot: #ee8a18;
$patreon: #f86754;

$custom-colors: (
    "discord": ($discord),
    "spigot": ($spigot),
    "patreon": ($patreon)
);

// Links
$link: $primary;
$link-focus-border: $primary;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Box
$box-radius: 2px;
$box-shadow: 0 3px 5px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

// Menu component
$menu-list-link-padding: 0.35em 0.75em;
$menu-nested-list-margin: 0.25em;

// Footer
$footer-background-color: darken($white, 4%);
$footer-padding: 2rem 1.5rem 1rem;

// Revert button sizing to pre-0.8.0
$control-height: 2.25em;
$control-padding-vertical: calc(0.375em - #{$control-border-width});
$control-padding-horizontal: calc(0.625em - #{$control-border-width});

$button-border-width: $control-border-width !default;
$button-padding-vertical: calc(0.375em - #{$button-border-width});
$button-padding-horizontal: 0.75em;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
