// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Container layout
$gap: 48px;

// Set your colors
$primary: rgb(233, 59, 56);
$primary-invert: findColorInvert($primary);

$discord: #7289DA;
$discord-invert: findColorInvert($discord);

$spigot: #ee8a18;
$spigot-invert: findColorInvert($spigot);

$serverinfo: #1fab52;
$serverinfo-invert: findColorInvert($serverinfo);

$patreon: #f86754;
$patreon-invert: findColorInvert($patreon);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "discord": ($discord, $discord-invert),
    "spigot": ($spigot, $spigot-invert),
    "serverinfo": ($serverinfo, $serverinfo-invert),
    "patreon": ($patreon, $patreon-invert));

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Box
$box-radius: 2px;
$box-shadow: 0 3px 5px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

// Menu component
$menu-list-link-padding: 0.35em 0.75em;
$menu-nested-list-margin: 0.25em;

// Footer
$footer-background-color: darken($white, 4%);
$footer-padding: 2rem 1.5rem 4rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Import dark theme
@import "~bulma-prefers-dark/bulma-prefers-dark.sass";
@import "./buefy-dark.scss"