// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: rgb(233, 59, 56);
$primary-invert: findColorInvert($primary);

$discord: #7289DA;
$discord-invert: findColorInvert($discord);

$spigot: #ee8a18;
$spigot-invert: findColorInvert($spigot);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "discord": ($discord, $discord-invert),
    "spigot": ($spigot, $spigot-invert));

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Box
$box-radius: 2px;
$box-shadow: 0 3px 5px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

// Menu component
$menu-list-link-padding: 0.35em 0.75em;
$menu-nested-list-margin: 0.25em;

// Footer
$footer-background-color: darken($white, 4%);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
